@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(244, 247, 246);
}

#main-header h1, h2{
    font-family: 'Orbitron', sans-serif;
    padding: 15px;
}

#main-header h1{ 
    font-size: 2.5em;
    color: white;
}

#main-header {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(26, 42, 58);
    padding: 25px;
    margin-bottom: 1rem;
}

#main-header p{
    color: rgb(164, 191, 210);
}

nav ul{
    padding: 15px;
    text-align: center;
    background-color: rgb(52, 58, 64);
}
nav li{
    display: inline-block;
    padding-left: 25px;
}

nav a{
    text-decoration: none;
    background-color: transparent;
    transition: background-color 0.2s;
    transition: color 0.2s;
    transition: text-decoration 0.2s;
    padding: 8px;
    color: rgb(164, 191, 210);
}

nav a:hover{
    text-decoration: underline;
    background-color: rgb(0, 123, 255);
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

nav a:active{
    text-decoration: underline;
    background-color: rgb(0, 86, 179);
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.container{
    width: 900px;
    margin: 0 auto;
}

.container .highlight{
    background-color: rgb(230, 247, 255);
    border-left: 4px solid rgb(0, 121, 250);
    font-style: italic;
}

.container .tool-card{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 1rem;
    padding: 20px;
}

h2 {
    font-size: 1.75em;
    border-bottom: 3px solid rgb(0, 121, 250);
    color: rgb(52, 73, 94);
}

h3 {
    font-size: 1.5em;
    padding: 15px;
    color: rgb(40, 167, 69);
}

p{
    padding: 10px;
    line-height: 1.6;
    color: rgb(65, 66, 71);
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px;
    padding: 20px;
    text-align: left;
}

th{
    background-color: rgb(0, 121, 250);
    font-weight: bold;
    color: white;
}

td{
    color: rgb(65, 66, 71);    
}

tr:nth-child(odd){
    background-color: rgb(233, 236, 239);
    transition: background-color 0.2s;
}

tr:nth-child(odd):hover{
    background-color: rgb(204, 229, 255);
}

footer{
    text-align: center;
    padding: 15px;
}